body {
    display: flex;
    justify-content: center;
    align-items: center;
}

select{
    height: 40px !important;
    width: 100% !important;
    border: 2px solid rgb(0, 133, 177);
}
.time{
    background-color: rgb(239, 239, 239);
    padding: 5px;
}
.space{
    height: 20px;
    width: 6%;
}
.label{
    padding: 5px;
    height: 40px;
    width: 47%;
    background-color: rgb(120, 158, 207);
    color: white;
    text-align: center;
    border: 2px solid rgb(0, 133, 177);
}
input{
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}
.input{
    height: 100%;
    width: 47%;
    border: 2px solid rgb(0, 133, 177);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    height: 40px;
    width: 100px;
    text-align: center;
    background-color: rgb(89, 185, 103);
    color: rgb(254, 254, 254);
    border-radius: 5px;
    border: 2px solid rgb(0, 133, 177);
    cursor: pointer;
}

